/* USRBG */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/UsrBgs.css");

/* ---- Discord Variables ---- */
.theme-dark {
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --text-normal: #b1bae6;
  --text-muted: #565f89;
  --text-positive: hsl(89, calc(var(--saturation-factor, 1)*51%),61%) !important;
  --text-warning: hsl(39, calc(var(--saturation-factor, 1)*66%), 64%) !important;
  --text-danger: hsl(349, calc(var(--saturation-factor, 1)*89%), 72%) !important;
  --text-link: hsl(217, calc(var(--saturation-factor, 1)*40%), 56%) !important;
  --info-positive-background: hsla(89,calc(var(--saturation-factor, 1)*51%),61%,0.8) !important;
  --info-positive-foreground: var(--text-positive);
  --info-warning-background: hsla(39,calc(var(--saturation-factor, 1)*66%),64%,0.8) !important;
  --info-warning-foreground: var(--text-warning);
  --info-danger-background: hsla(349,calc(var(--saturation-factor, 1)*89%),72%,0.8) !important;
  --info-danger-foreground: var(--text-danger);
  --status-positive-background: var(--info-positive-background);
  --status-warning-background: var(--info-warning-background);
  --status-danger-background: var(--info-danger-background);
  --interactive-normal: #5f647e;
  --interactive-hover: #a2a6c2;
  --interactive-active: #b5bad1;
  --interactive-muted: #55576b; 
  --channels-default: var(--text-muted);
  --background-primary: #1a1b26;
  --background-secondary: #171722;
  --background-secondary-alt: #13131a;
  --background-tertiary: #16161e;
  --background-tertiary-alt: var(--background-secondary-alt);
  --background-accent: #434461;
  --background-floating: #161620;
  --background-modifier-hover: #212331c0;
  --background-modifier-active: #282a3680;
  --background-modifier-selected: #24263171;
  --background-modifier-accent: #1e1e29;
  --background-mentioned: #252836;
  --border-mentioned: #474c64;
  --background-mentioned-hover: #2f3344;
  --accent-color: #7aa2f7;
  --folder-color: #202332d0;
  --folder-color-light: #2f3342d0;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #2b2b46af;
  --scrollbar-auto-thumb-hover: #27273d85;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
}

.theme-light {
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-positive: hsl(89, calc(var(--saturation-factor, 1)*32%), 28);
  --text-warning: hsl(36, calc(var(--saturation-factor, 1)*74%), 32);
  --text-danger: hsl(348, calc(var(--saturation-factor, 1)*35%), 31);
  --info-positive-background: hsla(89,calc(var(--saturation-factor, 1)*32%),28%,0.8) !important;
  --info-positive-foreground: var(--text-positive);
  --info-warning-background: hsla(36,calc(var(--saturation-factor, 1)*74%),32%,0.8) !important;
  --info-warning-foreground: var(--text-warning);
  --info-danger-background: hsla(349,calc(var(--saturation-factor, 1)*35%),31%,0.8) !important;
  --info-danger-foreground: var(--text-danger);
  --status-positive-background: var(--info-positive-background);
  --status-warning-background: var(--info-warning-background);
  --status-danger-background: var(--info-danger-background);
  --interactive-normal: #4c505e;
  --interactive-hover: #404350;
  --interactive-active: #373a44;
  --interactive-muted: #77797c;
  --background-primary: #d5d6db;
  --background-secondary: #cecfd4;
  --background-secondary-alt: #b6b7bd;
  --background-tertiary: #c5c6cc;
  --background-tertiary-alt: #bbbbc2;
  --background-accent: #9ca3bb;
  --background-floating: #c2c2c9;
  --background-mentioned: #c4c7da;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --background-modifier-accent: #06060714;
  --border-mentioned: #a9afcf;
  --background-mentioned-hover: #cfd2e9;
  --accent-color: #34548a;
  --folder-color: #a7a6a6d0;
  --folder-color-light: #afafafd0;
  --input-box-bg: #c2c2c7;
  --input-box-border: #b3b4b8;
  --input-box-border-focus: #959699;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #a0a0a0af;
  --scrollbar-auto-thumb-hover: #77777785;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
}

/* ~~~~		  		General							~~~~ */
.theme-dark ::selection {
  background-color: #515c7e40;
  color: #a9b1d6;
}
.theme-light ::selection {
  background-color: #fafbff55;
  color: #4c505e;
}

/* Scrollbar */
.auto-2K3UW5::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-track {
  height: 100px;
  border-right: 0px solid transparent;
  border-left: 8px solid transparent;
  border-radius: 0px;
}
.auto-2K3UW5::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-auto-thumb-hover);
}

/* Tooltips */
.tooltipPrimary-3qLMbS,
.toolbar-37BrJ5 {
  background-color: var(--background-secondary-alt) !important;
}
.toolbar-37BrJ5:before {
  border-top-color: var(--background-secondary-alt);
}
.tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
  border-top-color: var(--background-secondary-alt) !important;
}

/* Friend list tab */
.friendSelected-3cwmD7 {
  background-color: var(--background-tertiary) !important;
}
.outer-2JOHae.interactive-2zD88a:hover {
  background-color: var(--background-tertiary) !important;
}
.inset-SbsSFp,
.separator-2OaeRP {
  background-color: var(--background-secondary) !important;
}
.text-MPIeXO {
  max-width: 485px;
}
.pageWrapper-2PwDoS,
.container-2cd8Mz {
  background-color: var(--background-primary) !important;
}

/* Chat Box */
.buttons-uaqb-5 {
  opacity: 0;
  transition: opacity 0.5s;
}
.channelTextArea-1FufC0:hover .buttons-uaqb-5 {
  opacity: 1;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
  color: var(--text-normal) !important;
  background-color: var(--background-primary) !important;
}
.mentionButton-3C5YMI {
  color: var(--accent-color);
}
.theme-dark .sprite-2lxwfc:not(:hover) {
  filter: none !important;
  background: url("https://dyzean.github.io/Tokyo-Night/assets/emoji-dark.png") center/contain no-repeat !important;
}
.theme-light .sprite-2lxwfc:not(:hover) {
  filter: none !important;
  background: url("https://dyzean.github.io/Tokyo-Night/assets/emoji-light.png") center/contain no-repeat !important;
}

/* Jump to present & New message bar */
.newMessagesBar-1hF-9G {
  background-color: var(--background-accent);
  border-radius: 50px;
  margin-top: 5px;
}
.jumpToPresentBar-1cEnH0,
.jumpToPresentBar-1cEnH0:active {
  margin-bottom: 13px;
  border-radius: 20px;
  padding: 0;
}

/* Top Bar */
#app-mount .children-3xh0VB > .iconWrapper-2awDjA svg,
#app-mount .base-21yXnu {
  color: var(--header-primary);
}

/* Voice Call Tab */
.callContainer-HtHELf  {
  background-color: var(--background-primary) !important;
}
.tile-2TcwiO {
  background-color: var(--background-secondary);
}
.header-1BxQhu {
  color: var(--text-normal)
}
.button-3Vyz67 {
  color: #fff;
  background-color: var(--accent-color);
}

/* ~~~~		  		Messages							~~~~ */

/* Text */
.blockquoteContainer-3VtvI1 {
  padding: 2px 0 2px 0;
}
.blockquoteContainer-3VtvI1 blockquote {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  color: var(--text-normal);
  border-radius: 0 4px 4px 0;
  padding: 4px 11px 4px;
}
.blockquoteContainer-3VtvI1 > .blockquoteDivider-363utW {
  background-color: var(--background-accent);
  border-radius: 4px 0 0 4px;
}
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi {
  background-color: var(--background-secondary-alt);
}

/* Reply text */
.repliedMessage-3Z6XBG .repliedTextPreview-1bvxun {
  color: var(--text-normal);
  opacity: 0.64;
}
.repliedMessage-3Z6XBG .repliedTextPreview-1bvxun:hover {
  opacity: 1;
}

/* Embeds */
.wrapperAudio-1Bzv_Z {
  width: auto !important;
  min-width: 400px;
}
.embedWrapper-1MtIDg.embedFull-1HGV2S {
  border-radius: 4px;
  border-left: 4px solid var(--accent-color);
  box-shadow: var(--elevation-high);
}

/* Nitro Gift */
.tile-2mmK5T {
  background-color: var(--background-secondary) !important;
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo:disabled {
  background-color: var(--background-primary) !important;
}

/* Mentions */
.replying-eZ7p5z::before,
.mentioned-Tre-dv::before {
  background-color: var(--border-mentioned);
}

/* Quick Button */
.wrapper-2vIMkT {
  background-color: var(--background-secondary);
}

/* ~~~~		  		Popouts							~~~~ */

/* User Popouts */
.headerTagUsernameNoNickname-1TjuLc {
  color: var(--text-normal);
}

/* Add Role Popouts */
.container-2O1UgZ {
  background-color: var(--background-floating);
  border-color: var(--background-tertiary-alt);
}

/* Search Popouts */
.container-2McqkF {
  background-color: var(--background-floating) !important;
  border-radius: 10px !important;
  box-shadow: var(--elevation-high) !important;
}
.option-2KkUJO:after {
  display: none !important;
}
.option-2KkUJO.selected-rZcOL-,
.input-3r5zZY {
  background-color: var(--background-secondary-alt) !important;
}
.focused-2FU0YH {
  background-color: var(--background-secondary-alt) !important;
}
.searchAnswer-23w-CH,
.searchFilter-2UfsDk {
  background-color: var(--background-primary) !important;
  color: var(--header-primary) !important;
}
#app-mount .option-2KkUJO[aria-selected=true] {
  background-color: var(--background-modifier-hover);
}
#app-mount .searchOption-351dTI .filter-5YbOzJ,
#app-mount .option-2KkUJO:not([group="SEARCH_OPTIONS"]) .answer-2fBfuP,
#app-mount .option-2KkUJO .nonText-3_4gtu,
#app-mount .option-2KkUJO strong {
  color: var(--text-normal) !important;
}
#app-mount .option-2KkUJO .filter-5YbOzJ,
#app-mount .searchOption-351dTI .answer-2fBfuP {
  color: var(--text-muted);
}
#app-mount .resultsGroup-1BPR25 .header-3A13BX,
#app-mount .resultsGroup-1BPR25 .plusIcon-2V7coV,
#app-mount .resultsGroup-1BPR25 .searchClearHistory-2Be-92,
#app-mount .resultsGroup-1BPR25 .searchLearnMore-7__o_n a {
  color: var(--channels-default);
}

/* Calendar */
.calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
  border: none !important;
}
.calendarPicker-sDhzdi .react-datepicker__day {
  border-top: 1px solid var(--background-modifier-accent) !important;
  border-left: 1px solid var(--background-modifier-accent) !important;
}
.calendarPicker-sDhzdi .react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--background-secondary-alt) !important;
}
.calendarPicker-sDhzdi .react-datepicker__header,
.calendarPicker-sDhzdi .react-datepicker {
  background-color: var(--background-floating) !important;
}

/* Status Picker */
#status-picker .scrollerBase-_bVAAt {
  display: grid;
}

#status-picker-custom-status,
#status-picker div[role=group] {
  grid-column: 1/5;
}

#status-picker .item-1OdjEX:not(#status-picker-custom-status, #status-picker-switch-account) .status-3TYC5W {display: none;}
#status-picker .description-3Cwkxk {display: none;}
#status-picker .separator-1So4YB {display: none;}

#status-picker .status-3TYC5W {
  margin-left: 8px;
}

#status-picker .customEmojiPlaceholder-3mRJqA,
#status-picker .switchAccountsIcon-36imMT {
  margin-left: 1px;
}

#status-picker .mask-2Me5HY {
  height: 78%; 
  width: 78%;
  margin-left: 3px;
}

#status-picker-online,
#status-picker-idle,
#status-picker-dnd {
  margin-right: 25px;
}

#status-picker-custom-status .statusItem-2hiCNB {
  padding: 6px 8px;
}

#status-picker .customEmojiPlaceholder-3mRJqA {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M8.5,8C9.33,8,10,8.67,10,9.5 S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M16.75,14.75C15.8,16.39,14.03,17.5,12,17.5s-3.8-1.11-4.75-2.75 C7.06,14.42,7.31,14,7.69,14h8.62C16.7,14,16.94,14.42,16.75,14.75z M15.5,11c-0.83,0-1.5-0.67-1.5-1.5S14.67,8,15.5,8 S17,8.67,17,9.5S16.33,11,15.5,11z'/%3E%3C/svg%3E");
}

#status-picker .colorDefault-CDqZdO.focused-3qFvc8 .customEmojiPlaceholder-3mRJqA {
  background: var(--interactive-active);
}

#status-picker .switchAccountsIcon-36imMT {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M17,20H4V7c0-0.55-0.45-1-1-1S2,6.45,2,7v13c0,1.1,0.9,2,2,2h13c0.55,0,1-0.45,1-1S17.55,20,17,20z M20,2H8 C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M14,5c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3 s-3-1.34-3-3C11,6.34,12.34,5,14,5z M7.76,16c1.47-1.83,3.71-3,6.24-3s4.77,1.17,6.24,3H7.76z'/%3E%3C/g%3E%3C/svg%3E");
}

#status-picker .colorDefault-CDqZdO.focused-3qFvc8 .switchAccountsIcon-36imMT {
  background: var(--interactive-active);
}

#status-picker-custom-status,
#status-picker-switch-account,
#status-picker-switch-account--manage-accounts {
  margin-top: 12px !important;
}

#status-picker-custom-status::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account--manage-accounts::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -7px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account--manage-accounts::after {
  content: '';
  background: var(--background-modifier-accent);
  position: absolute;
  top: -7px;
  left: 2px;
  width: 98%;
  height: 1px;
}
#status-picker-online {
  --status-colour: var(--bsi-online-color, rgb(59, 165, 92));
}
#status-picker-idle {
  --status-colour: var(--bsi-idle-color, rgb(250, 166, 26));
}
#status-picker-dnd {
  --status-colour: var(--bsi-dnd-color, rgb(237, 66, 69));
}
#status-picker-invisible {
  --status-colour: var(--bsi-invisible-color, rgb(116, 127, 141));
}
#status-picker .item-1OdjEX:not(#status-picker-custom-status):active,
#status-picker .item-1OdjEX:not(#status-picker-custom-status).focused-3qFvc8 {
  background-color: var(--status-colour);
}

/* Stream Preview Popouts */
.protip-13raHg {
  display: none;
}
.streamPreview-3qoMP4 {
  background-color: var(--background-tertiary) !important;
}
.previewContainer-12U1H1 {
  background-color: var(--background-secondary) !important;
}

/* Emoji Popouts */
.autocomplete-3NRXG8 {
  background-color: var(--background-floating) !important;
}
.selected-3H3-RC {
  background-color: var(--background-primary) !important;
}

/* Slash Command Popouts */
.categoryHeader-OpJ1Ly {
  background-color: var(--background-floating) !important;
}
.option-Tt7anD,
.pill-1HLSrc {
  background-color: var(--background-primary) !important;
}

/* ~~~~		  		Sidebar							~~~~ */

/* Server List */
.folder-241Joy .folderIconWrapper-1oRIZr {
  background-color: var(--folder-color) !important;
}
.folderIconWrapper-1oRIZr:hover,
.folder-241Joy:hover {
  background-color: var(--folder-color-light);
}
.folder-241Joy,
.expandedFolderBackground-1kSAf6 {
  background-color: var(--folder-color);
}
.numberBadge-37OJ3S {
  background-color: var(--accent-color) !important;
}
.item-2LIpTv {
  background-color: var(--interactive-normal);
}

/* Add Server Button */
.circleIconButton-1VxDrg {
  color: var(--interactive-normal) !important;
  background-color: transparent !important;
}
.circleIconButton-1VxDrg:hover {
  color: var(--interactive-hover) !important;
  background-color: var(--background-primary) !important;
}

/* Channel List */
.children-3xh0VB:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--background-tertiary)) !important;
}
.container-ZMc96U.themed-Hp1KC_ {
  background-color: var(--background-tertiary);
}
.container-1NXEtd {
  background-color: var(--background-tertiary) !important;
}
.sidebar-1tnWFu {
  background: var(--background-tertiary) !important;
}
.unread-36eUEm {
  top: 54%;
  left: 5px;
  width: 6px;
  height: 6px;
  z-index: 1;
  border-radius: 10px;
}
.wrapper-NhbLHG:hover .icon-2W8DHg,
.modeSelected-3DmyhH .icon-2W8DHg,
.modeUnread-3Cxepe .icon-2W8DHg {
  color: var(--interactive-active);
}
.wrapper-NhbLHG:not(.modeUnread-3Cxepe):not(:hover):not(.modeSelected-3DmyhH) .icon-2W8DHg {
  color: var(--channels-default);
}
.spine-29OFwR {
  color: var(--channels-default);
}

.total-1c5KCN {
  background-color: var(--background-tertiary-alt);
}
.total-1c5KCN:after {
  border-right-color: var(--background-tertiary-alt);
}

/* New Mention bar*/
.mention-3XBnnZ {
  background-color: var(--text-danger);
  opacity: 1;
}

/* ~~~~		  		Settings Modal							~~~~ */

.theme-light .closeButton-PCZcma {
  border-color: var(--background-tertiary-alt);
}
.theme-light .closeButton-PCZcma:hover {
  background-color: var(--background-secondary);
}
.theme-light .keybind-13vtq8 {
  color: var(--background-tertiary-alt);
}
.theme-light .gameName-Uw4dbt {
  color: #4f545c !important;
}
.theme-light .lastPlayed-3aHvxk {
  color: #72767d !important;
}
.accountProfileCard-lbN7n- {
  background-color: var(--background-secondary-alt);
}
.notDetected-2HEmAp {
  background-color: var(--background-tertiary) !important;
}
.addGamePopout-3yePJc {
  background-color: var(--background-secondary) !important;
  box-shadow: none !important;
}
.game-3x3aDt {
  box-shadow: 0 1px 0 0 var(--background-tertiary) !important;
}
.cardPrimary-3qRT__ {
  background: var(--background-secondary);
}
.gemIndicatorContainer-PqApbX {
  background-color: var(--background-primary) !important;
}
.cardWrapper-CyvwQv {
  background: var(--background-secondary);
}
.card-2gdrYL:hover {
  background: var(--background-floating);
}
.gameVerifiedIcon-3t4jtr .flowerStar-2tNFCR > path {
  fill: var(--brand-experiment);
}

/* Buttons Color */
.bar-1Bhnl9 {
  background: var(--background-secondary) !important;
}
.userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background-color: var(--background-floating) !important;
  border-color: var(--background-tertiary-alt) !important;
}
.premiumTabItem-1QTfBr[aria-selected="true"] {
  color: #fff !important;
  background-color: #b466c2 !important;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
  color: #fff !important;
}
.buttons-19uowm .lookFilled-yCfaCM.colorPrimary-2AuQVo,
.colorable-3rVGna.primaryDark-2UJt1G.active-3D763s,
.colorable-3rVGna.primaryDark-2UJt1G:hover {
  background: var(--background-secondary) !important;
}
.colorable-3rVGna.primaryDark-2UJt1G {
  background: var(--background-primary);
}
.dim-2Uxgxb span,
.keybindShortcut-3zF1P9 span {
  background-color: var(--background-floating) !important;
  box-shadow: inset 0 -4px 0 var(--background-secondary) !important;
}
.lookFilled-yCfaCM.colorYellow-Pgtmch {
  color: #fff !important;
  background-color: var(--text-warning) !important;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
  color: #fff !important;
  background-color: var(--text-positive) !important;
}
.lookFilled-yCfaCM.colorRed-rQXKgM {
  color: #fff !important;
  background-color: var(--text-danger) !important;
}

/* Server Settings */
.default-1Tkeeg,
.headerExpanded-1-zwDr,
.divider-1pnAR2 {
  background-color: var(--background-tertiary) !important;
}
.container-2oNtJn {
  background: var(--background-secondary);
}
.auditLog-1NVAY0 {
  border-color: var(--background-tertiary) !important;
}
.card-o7rAq- {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-tertiary-alt) !important;
}
.cardPrimaryOutline-1ofwVz {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary-alt);
}
.changeDetails-1kMZqI {
  background-color: var(--background-secondary) !important;
}
.headerDefault-1e6yjj,
.headerClickable-zGQJz3 {
  background-color: var(--background-secondary) !important;
}
.elevationHigh-28Pty4 {
  background-color: var(--background-floating) !important;
}
.css-gvi9bl-control,
.css-6fzn47-control,
.css-3vaxre-menu {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary-alt);
}
.background-3xJH_4 {
  color: var(--background-secondary) !important;
}
.tierInProgress-1vFUnw {
  background-color: var(--background-secondary) !important;
}
.tierBody-1d3UiS {
  background-color: var(--background-secondary) !important;
}
.tierHeaderContent-2SPBAA {
  background: var(--background-tertiary);
}
.cardPrimaryEditable-2mz_3i {
  background: var(--background-secondary);
}
.editCircle-ityklj,
.iconWrapper-lS1uig {
  background-color: var(--background-primary);
}
.theme-light .card-2ART2V:before {
  background-color: var(--background-primary);
}

/* Server Boost Modal */
.perksModal-fSYqOq {
  background-color: var(--background-primary) !important;
}
.tierMarkerBackground-G8FoN4,
.expandedInfo-1W31i3,
.tierBody-16Chc9,
.perk-2WeBWW {
  background-color: var(--background-tertiary) !important;
}
.roleIcon-286ZWG {
  color: var(--background-accent);
}

/*Reaction Modal*/
.reactors-1VXca7 {
  background-color: var(--background-primary) !important;
}
.reactorDefault-3GSyaV {
  box-shadow: inset 0 -1px 0 var(--background-modifier-accent) !important;
}
.scroller-2GkvCq {
  background: var(--background-secondary) !important;
}
.reactionSelected-1aMb2K {
  background-color: var(--background-modifier-selected) !important;
}
/* Pin Message Modal */
.message-G6O-Wv {
  background-color: var(--background-secondary) !important;
  box-shadow: none !important;
  border-radius: 10px;
}

/* Payment Modal */
.root-g14mjS {
  background-color: var(--background-primary) !important;
  box-shadow: none;
}
.paymentPane-ut5qKZ {
  background-color: var(--background-tertiary-alt) !important;
}
.bottomDivider-ZmTm-j {
  border-bottom-color: var(--background-secondary-alt) !important;
}
.expandedInfo-1W31i3 {
  background-color: var(--background-primary) !important;
}
.paginator-1eqD2g,
.payment-2bOh4k,
.codeRedemptionRedirect-3SBiCp {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-tertiary-alt) !important;
}
#app-mount .footer-31IekZ {
  background-color: var(--background-tertiary);
}

/* ~~~~		  		Watermark							~~~~ */

.wordmarkWindows-2dq6rw svg {
  position: fixed;
  top: 3px;
  left: 50%;
  transform: translate(-50%);
}
.typeWindows-2-g3UY {
  z-index: 1;
  background-color: var(--background-tertiary-alt);
}

/* ~~~~		  		     BD Support							~~~~ */
#bd-editor-controls {
  background: var(--background-tertiary-alt);
  color: var(--interactive-normal);
}
#floating-editor-window {
  border-radius: 10px;
}
.floating-window-titlebar {
  background-color: var(--background-tertiary-alt);
}
.floating-window #bd-editor-controls {
  background-color: var(--background-tertiary) !important;
  border-bottom: 1px solid var(--background-tertiary);
  box-shadow: none;
}
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
  background-color: var(--background-secondary) !important;
}
.monaco-editor .minimap,
.monaco-editor .decorationsOverviewRuler {
  display: none !important;
}
.bd-tab-item.selected {
  cursor: default;
  background: var(--background-accent);
}
.bd-addon-error {
  border-color: var(--background-tertiary) !important;
  background: var(--background-secondary) !important;
}
.bd-addon-error-icon {
  display: flex;
  align-items: center;
  background-color: var(--background-primary);
}
.bd-addon-modal-footer .bd-button {
  background-color: var(--brand-experiment);
}
.bd-addon-modal-footer .bd-button:hover {
  background-color: var(--brand-experiment-560) !important;
}

/* ~~~~		  		     Powercord Support							~~~~ */
.powercord-toast-container {
  --toast-background: var(--background-secondary);
  --toast-header: var(--background-tertiary);
  --toast-contents: var(--background-primary);
  --toast-box-shadow: var(--elevation-stroke), var(--elevation-high);
  --toast-border: transparent;
}

.modal-2RrUKJ {
	background-color: var(--background-primary) !important;
}

/* ~~~~		  		 Plugin Support							~~~~ */

/* Better Codeblocks */
#app-mount .hljs {
  background-color: var(--background-secondary) !important;
  border: 1px solid var(--background-tertiary);
  color: var(--text-normal);
}

/* Channel Tabs */
.channelTabs-tab.channelTabs-selected {
  margin-top: 5px;
}
[class*="channelTabs-"] .channelTabs-closeTab {
  color: var(--text-normal) !important;
  background-color: transparent !important;
}
[class*="channelTabs-"] .channelTabs-closeTab:hover {
  color: var(--text-danger) !important;
}
.channelTabs-tabContainer {
  background-color: var(--background-tertiary-alt);
}
.channelTabs-newTab {
  bottom: calc(var(--channelTabs-tabHeight) / 2) !important;
}
#channelTabs-settingsMenu {
  background: transparent !important;
}

/* Better Formatting Redux */
.bf-toolbar::before {
  background: var(--background-secondary) !important;
}
.tooltipBlack-vMYxvw {
  background-color: var(--background-floating) !important;
}
.tooltipPointer-3L49xb {
  border-top-color: var(--background-floating) !important;
}

/* Powercord Spotify Modal. */
.fa-forward, .fa-backward{
  transition-duration: 0.3s;
}
button:hover .fa-forward:hover{
  transform: translate(2px);
}
button:hover .fa-backward:hover{
  transform: translate(-2px);
}

/* ----------------------------- END OF THEME ----------------------------- */

/* ~~~~		  		CSS Snippets							~~~~ */

/* better name colors in chat & list light mode */
.theme-light .username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P,
.theme-light .roleColor-nA7BqX.desaturateUserColors-1O-G89 {
  filter: contrast(50%);
  transition: filter 0.25s;
}
.theme-light .username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P:hover,
.theme-light .roleColor-nA7BqX.desaturateUserColors-1O-G89:hover {
  filter: contrast(100%);
}

/* Hide Some Things */
.banner-1YaD3N:hover .premiumIconWrapper-32h0Ri .textBadge-1fdDPJ,
.banner-1YaD3N:hover .bannerOverlay-1uIerX,
.banner-1YaD3N:hover .pencilIcon-z04-c5,
button[aria-label="Send a gift"],
[href="/discovery"],
.toolbar-3_r2xA a,
.gifTag-3_dPxY {
  display: none;
}

/* Replaces Message Links with "Jump to Message" */
[title^="https://discord.com/channels/"],
[title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
    line-height:0;
    font-size:0;
}
[title^="https://discord.com/channels/"]::before,
[title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
  content: "Jump to Message";
  font-size: 16px;
  font-weight: 500;
}
