/* Addons */
@import url("https://mr-miner1.github.io/cooler-activity-status/theme[bd].theme.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/UsrBgs.css");
@import url("https://dyzean.github.io/gradient-badge-userpopouts/donators.css");

/* ---- Discord Variables ---- */
.theme-dark {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --interactive-normal: #6f738e;
  --interactive-hover: #a6aac5;
  --interactive-active: #aeb4cf;
  --interactive-muted: #484a57;
  --channels-default: #545766;
  --background-primary: #1a1b26;
  --background-secondary: #171722;
  --background-secondary-alt: #13131a;
  --background-tertiary: #16161e;
  --background-tertiary-alt: #13131a;
  --background-accent: #434461;
  --background-floating: #161620;
  --background-modifier-hover: #212331c0;
  --background-modifier-active: #282a3680;
  --background-modifier-selected: #24263171;
  --background-modifier-accent: #21212c;
  --background-mentioned: #252836;
  --border-mentioned: #474c64;
  --background-mentioned-hover: #2f3344;
  --accent-color: #365aaa;
  --folder-color: #272a36d0;
  --folder-color-light: #2f3342d0;
  --input-box-bg: #14141b;
  --input-box-border: #0f0f14;
  --input-box-border-focus: #1b1c26;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #2b2b46af;
  --scrollbar-auto-thumb-hover: #27273d85;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
}

.theme-light {
  --header-primary: #1c1c1d;
  --header-secondary: #4f5660;
  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --interactive-normal: #4c505e;
  --interactive-hover: #404350;
  --interactive-active: #373a44;
  --interactive-muted: #77797c;
  --background-primary: #d5d6db;
  --background-secondary: #cecfd4;
  --background-secondary-alt: #b6b7bd;
  --background-tertiary: #c5c6cc;
  --background-tertiary-alt: #bbbbc2;
  --background-accent: #9ca3bb;
  --background-floating: #c2c2c9;
  --background-mentioned: #c4c7da;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --background-modifier-accent: #06060714;
  --border-mentioned: #a9afcf;
  --background-mentioned-hover: #cfd2e9;
  --accent-color: #365aaa;
  --folder-color: #a7a6a6d0;
  --folder-color-light: #afafafd0;
  --input-box-bg: #c2c2c7;
  --input-box-border: #b3b4b8;
  --input-box-border-focus: #959699;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #a0a0a0af;
  --scrollbar-auto-thumb-hover: #77777785;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
}

/* ~~~~		  		General							~~~~ */
.theme-dark ::selection {
  background-color: #3b3e5270 !important;
}
.theme-light ::selection {
  background: #d4d9e0 !important;
}

/* Scrollbar */
.auto-2K3UW5::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-track {
  height: 100px;
  border-right: 0px solid transparent;
  border-left: 8px solid transparent;
  border-radius: 0px;
}
.auto-2K3UW5::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-auto-thumb-hover);
}

/* Tooltips */
.tooltipPrimary-3qLMbS,
.toolbar-37BrJ5 {
  background-color: var(--background-secondary-alt) !important;
}
.toolbar-37BrJ5:before {
  border-top-color: var(--background-secondary-alt);
}
.tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
  border-top-color: var(--background-secondary-alt) !important;
}

/* Friend list tab */
.friendSelected-3cwmD7 {
  background-color: var(--background-tertiary) !important;
}
.outer-2JOHae.interactive-2zD88a:hover {
  background-color: var(--background-tertiary) !important;
}
.inset-SbsSFp,
.separator-2OaeRP {
  background-color: var(--background-secondary) !important;
}
.text-MPIeXO {
  max-width: 485px;
}
.pageWrapper-2PwDoS,
.container-2cd8Mz {
  background-color: var(--background-primary) !important;
}

/* Chat Box */
.buttons-uaqb-5 {
  opacity: 0;
  transition: opacity 0.5s;
}
.channelTextArea-1FufC0:hover .buttons-uaqb-5 {
  opacity: 1;
}
.lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  color: var(--text-normal) !important;
  background-color: var(--background-primary) !important;
}
.theme-dark .sprite-2lxwfc:not(:hover) {
  filter: none !important;
  background: url("https://dyzean.github.io/Tokyo-Night/assets/emoji-dark.png") center/contain no-repeat !important;
}
.theme-light .sprite-2lxwfc:not(:hover) {
  filter: none !important;
  background: url("https://dyzean.github.io/Tokyo-Night/assets/emoji-light.png") center/contain no-repeat !important;
}

/* Input Box Colour */
.searchBar-zdmu7v {
  border: solid 1px var(--input-box-border);
  background-color: var(--input-box-bg);
}
.searchBar-zdmu7v[aria-expanded="true"] {
  border: solid 1px var(--input-box-border-focus);
}

/* ~~~~		  		Messages							~~~~ */

/* Text */
.blockquoteContainer-3VtvI1 {
  padding: 2px 0 2px 0;
}
.blockquoteContainer-3VtvI1 blockquote {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  color: var(--text-normal);
  border-radius: 0 4px 4px 0;
  padding: 4px 11px 4px;
}
.blockquoteContainer-3VtvI1 > .blockquoteDivider-363utW {
  background-color: var(--background-accent);
  border-radius: 4px 0 0 4px;
}
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi {
  background-color: var(--background-secondary-alt);
}

/* Embeds */
.wrapperAudio-1Bzv_Z {
  width: auto !important;
  min-width: 400px;
}

.embedWrapper-1MtIDg.embedFull-1HGV2S {
  border-radius: 4px;
  border-left: 4px solid var(--background-tertiary);
  box-shadow: var(--elevation-high);
}

/* Nitro Gift */
.tile-2mmK5T {
  background-color: var(--background-secondary) !important;
}
.lookFilled-1Gx00P.colorPrimary-3b3xI6:disabled {
  background-color: var(--background-primary) !important;
}

/* Mentions */
.replying-eZ7p5z::before,
.mentioned-Tre-dv::before {
  background-color: var(--border-mentioned);
}

/* Quick Button */
.wrapper-2vIMkT {
  background-color: var(--background-secondary);
}

/* ~~~~		  		Popouts							~~~~ */

/* User Popouts */
.headerTagUsernameNoNickname-1TjuLc {
  color: var(--text-normal);
}

/* Search Popouts */
.container-2McqkF {
  background-color: var(--background-floating) !important;
  border-radius: 10px !important;
  box-shadow: var(--elevation-high) !important;
}
.option-2KkUJO:after {
  display: none !important;
}
.option-2KkUJO.selected-rZcOL-,
.input-3r5zZY {
  background-color: var(--background-secondary-alt) !important;
}
.focused-2FU0YH {
  background-color: var(--background-secondary-alt) !important;
}
.searchAnswer-23w-CH,
.searchFilter-2UfsDk {
  background-color: var(--background-primary) !important;
  color: var(--header-primary) !important;
}
.theme-light .searchOption-351dTI .answer-2fBfuP {
  color: var(--header-secondary);
}
.theme-light .datePicker-70cO23 .datePickerHint-17MnA8 .hint-3D5yHh,
.theme-light .resultsGroup-1BPR25 .searchLearnMore-7__o_n a,
.theme-light .resultsGroup-1BPR25 .plusIcon-2V7coV,
.theme-light .resultsGroup-1BPR25 .header-3A13BX,
.theme-light .option-2KkUJO .filter-5YbOzJ {
  color: var(--header-primary);
}

/* Calendar */
.calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
  border: none !important;
}
.calendarPicker-sDhzdi .react-datepicker__day {
  border-top: 1px solid var(--background-modifier-accent) !important;
  border-left: 1px solid var(--background-modifier-accent) !important;
}
.calendarPicker-sDhzdi .react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--background-secondary-alt) !important;
}
.calendarPicker-sDhzdi .react-datepicker__header,
.calendarPicker-sDhzdi .react-datepicker {
  background-color: var(--background-floating) !important;
}

/* Status Picker */
#status-picker {
  margin-bottom: -90px;
  margin-left: 60px;
}
#status-picker > div {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}
.statusItem-2hiCNB {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.statusItem-2hiCNB > svg {
  width: 16px;
  height: auto;
}
#status-picker .item-1OdjEX {
  margin: 0;
  width: 25%;
}
#status-picker .status-3TYC5W,
#status-picker .description-3Cwkxk,
#status-picker .separator-1So4YB:nth-child(2) {
  display: none;
}
#status-picker .separator-1So4YB,
#status-picker #status-picker-custom-status {
  display: block;
  width: 100%;
}
#status-picker-custom-status .status-3TYC5W {
  display: block;
  margin-left: 6px;
}
#status-picker-online {
  --status-colour: var(--bsi-online-color, rgb(59, 165, 92));
}
#status-picker-idle {
  --status-colour: var(--bsi-idle-color, rgb(250, 166, 26));
}
#status-picker-dnd {
  --status-colour: var(--bsi-dnd-color, rgb(237, 66, 69));
}
#status-picker-invisible {
  --status-colour: var(--bsi-invisible-color, rgb(116, 127, 141));
}
#status-picker .item-1OdjEX:not(#status-picker-custom-status):active,
#status-picker .item-1OdjEX:not(#status-picker-custom-status).focused-3qFvc8 {
  background-color: var(--status-colour);
}

/* Stream Preview Popouts */
.protip-13raHg {
  display: none;
}

.streamPreview-3qoMP4 {
  background-color: var(--background-tertiary) !important;
}
.previewContainer-12U1H1 {
  background-color: var(--background-secondary) !important;
}

/* Emoji Popouts */
.autocomplete-3NRXG8 {
  background-color: var(--background-floating) !important;
}
.selected-3H3-RC {
  background-color: var(--background-primary) !important;
}

/* Slash Command Popouts */
.categoryHeader-OpJ1Ly {
  background-color: var(--background-floating) !important;
}
.option-Tt7anD,
.pill-1HLSrc {
  background-color: var(--background-primary) !important;
}

/* ~~~~		  		Sidebar							~~~~ */

/* User Menu, Credit to Strencher#1044 for this */
.guilds-2JjMmN {
  height: calc(100% - 128px);
}
.guilds-2JjMmN .scroller-3X7KbA {
  background: var(--background-tertiary-alt);
}
.container-YkUktl {
  position: absolute;
  left: -62px;
  bottom: 39px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.container-YkUktl::before {
  content: "";
  display: block;
  position: fixed;
  width: 72px;
  height: 128px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  background: var(--background-tertiary-alt);
}
.button-12Fmur {
  color: var(--interactive-normal) !important;
  transition: color 150ms ease-in;
}
.button-12Fmur:hover {
  color: var(--interactive-hover) !important;
}
.title-3XlmeX {
  color: var(--accent-color);
  font-weight: 650;
}
.sidebar-1tnWFu {
  overflow: visible !important;
}
.base-2jDfDU {
  overflow: visible !important;
  max-width: calc(100% - 72px);
}
.panels-3wFtMD {
  background-color: var(--background-tertiary-alt);
  padding-bottom: 25px;
}
.nameTag-sc-gpq {
  position: absolute;
  bottom: -37px;
  align-items: center;
  display: flex;
  left: 5px;
  z-index: 2;
}
.container-YkUktl .flex-2S1XBF {
  left: 140px;
  bottom: -64px;
  position: relative;
}
.container-YkUktl .flex-2S1XBF button:last-of-type {
  position: fixed;
  bottom: 38px;
  transform: scale(1.7);
  left: 21px;
  z-index: 2;
}
.container-YkUktl .flex-2S1XBF button:last-of-type:hover {
  background: none;
}
.container-YkUktl .flex-2S1XBF button:not(:last-of-type) {
  background: none;
  left: 60px;
  transform: scale(0.7);
}
.avatarWrapper-1B9FTW {
  position: absolute;
  left: 10px;
  z-index: 2;
  top: -25px;
}
.subtext-2HDqJ7 {
  font-size: 14px;
  margin-left: 3px;
}
.hoverRoll-2XwpoF {
  width: 140px;
}
.hovered-20u3oh {
  text-overflow: unset;
}

/* Server List */
.folder-1hbNCn .folderIconWrapper-1_bOZe[style="background-color: rgba(88, 101, 242, 0.4);"] {
  background-color: var(--folder-color) !important;
}
.folder-1hbNCn:hover {
  background-color: var(--folder-color-light);
}
.folder-1hbNCn,
.expandedFolderBackground-1cujaW {
  background-color: var(--folder-color);
}
.numberBadge-37OJ3S {
  background-color: var(--accent-color) !important;
}
.item-2LIpTv {
  background-color: var(--interactive-normal);
}

/* Add Server Button */
.circleIconButton-1QV--U {
  color: var(--interactive-normal) !important;
  background-color: transparent !important;
}
.circleIconButton-1QV--U:hover {
  color: var(--interactive-hover) !important;
  background-color: var(--background-primary) !important;
}

/* Channel List */
.children-3xh0VB:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--background-tertiary)) !important;
}
.container-ZMc96U.themed-Hp1KC_ {
  background-color: var(--background-tertiary);
}
.container-1NXEtd {
  background-color: var(--background-tertiary) !important;
}
.sidebar-1tnWFu {
  background: var(--background-tertiary) !important;
}
.unread-36eUEm {
  top: 54%;
  left: 5px;
  width: 6px;
  height: 6px;
  z-index: 1;
  border-radius: 10px;
}
.wrapper-NhbLHG:hover > div > a > div > .icon-2W8DHg,
.modeSelected-3DmyhH > div > a > div > .icon-2W8DHg,
.modeUnread-3Cxepe > div > a > div > .icon-2W8DHg {
  color: var(--interactive-active) !important;
}
.icon-2W8DHg {
  color: var(--interactive-muted) !important;
}
.total-1c5KCN {
  background-color: var(--background-tertiary-alt);
}
.total-1c5KCN:after {
  border-right-color: var(--background-tertiary-alt);
}

/* ~~~~		  		Settings Modal							~~~~ */

.theme-light .closeButton-PCZcma {
  border-color: var(--background-tertiary-alt);
}
.theme-light .closeButton-PCZcma:hover {
  background-color: var(--background-secondary);
}
.theme-light .keybind-13vtq8 {
  color: var(--background-tertiary-alt);
}
.theme-light .gameName-Uw4dbt {
  color: #4f545c !important;
}
.theme-light .lastPlayed-3aHvxk {
  color: #72767d !important;
}
.accountProfileCard-lbN7n- {
  background-color: var(--background-secondary-alt);
}
.notDetected-2HEmAp {
  background-color: var(--background-tertiary) !important;
}
.addGamePopout-3yePJc {
  background-color: var(--background-secondary) !important;
  box-shadow: none !important;
}
.game-3x3aDt {
  box-shadow: 0 1px 0 0 var(--background-tertiary) !important;
}
.cardPrimary-3qRT__ {
  background: var(--background-secondary);
}
.gemIndicatorContainer-PqApbX {
  background-color: var(--background-primary) !important;
}
.cardWrapper-CyvwQv {
  background: var(--background-secondary);
}
.card-2gdrYL:hover {
  background: var(--background-floating);
}
.gameVerifiedIcon-3t4jtr .flowerStar-2tNFCR > path {
  fill: var(--brand-experiment);
}

/* Buttons Color */
.bar-1Bhnl9 {
  background: var(--background-secondary) !important;
}
.userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background-color: var(--background-floating) !important;
  border-color: var(--background-tertiary-alt) !important;
}
.premiumTabItem-1QTfBr[aria-selected="true"] {
  color: #fff !important;
  background-color: #b466c2 !important;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
  color: #fff !important;
}
.buttons-19uowm .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.colorable-3rVGna.primaryDark-2UJt1G.active-3D763s,
.colorable-3rVGna.primaryDark-2UJt1G:hover {
  background: var(--background-secondary) !important;
}
.colorable-3rVGna.primaryDark-2UJt1G {
  background: var(--background-primary);
}
.dim-2Uxgxb span,
.keybindShortcut-3zF1P9 span {
  background-color: var(--background-floating) !important;
  box-shadow: inset 0 -4px 0 var(--background-secondary) !important;
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.lookFilled-1Gx00P.colorYellow-2JqYwt,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorRed-1TFJan {
  color: var(--header-primary) !important;
}
.theme-light .lookFilled-1Gx00P.colorYellow-2JqYwt,
.theme-light .lookFilled-1Gx00P.colorGreen-29iAKY,
.theme-light .lookFilled-1Gx00P.colorRed-1TFJan {
  color: #fff;
}

/* Server Settings */
.default-1Tkeeg,
.headerExpanded-CUEwZ5,
.divider-1pnAR2 {
  background-color: var(--background-tertiary) !important;
}
.container-2oNtJn {
  background: var(--background-secondary);
}
.auditLog-3jNbM6 {
  border-color: var(--background-tertiary) !important;
}
.card-o7rAq- {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-tertiary-alt) !important;
}
.cardPrimaryOutline-1ofwVz {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary-alt);
}
.changeDetails-bk98pu {
  background-color: var(--background-secondary) !important;
}
.headerDefault-1wrJcN,
.headerClickable-2IVFo9 {
  background-color: var(--background-secondary) !important;
}
.elevationHigh-28Pty4 {
  background-color: var(--background-floating) !important;
}
.css-gvi9bl-control,
.css-6fzn47-control,
.css-3vaxre-menu {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary-alt);
}
.background-3xJH_4 {
  color: var(--background-secondary) !important;
}
.tierInProgress-1vFUnw {
  background-color: var(--background-secondary) !important;
}
.tierBody-1d3UiS {
  background-color: var(--background-secondary) !important;
}
.tierHeaderContent-2SPBAA {
  background: var(--background-tertiary);
}
.cardPrimaryEditable-2mz_3i {
  background: var(--background-secondary);
}
.editCircle-ityklj,
.iconWrapper-lS1uig {
  background-color: var(--background-primary);
}
.theme-light .card-2ART2V:before {
  background-color: var(--background-primary);
}

/* Server Boost Modal */
.perksModal-fSYqOq {
  background-color: var(--background-primary) !important;
}
.tierMarkerBackground-G8FoN4,
.expandedInfo-1W31i3,
.tierBody-16Chc9,
.perk-2WeBWW {
  background-color: var(--background-tertiary) !important;
}
.roleIcon-286ZWG {
  color: var(--background-accent);
}

/*Reaction Modal*/
.reactors-1VXca7 {
  background-color: var(--background-primary) !important;
}
.reactorDefault-3GSyaV {
  box-shadow: inset 0 -1px 0 var(--background-modifier-accent) !important;
}
.scroller-2GkvCq {
  background: var(--background-secondary) !important;
}
.reactionSelected-1aMb2K {
  background-color: var(--background-modifier-selected) !important;
}
/* Pin Message Modal */
.message-G6O-Wv {
  background-color: var(--background-secondary) !important;
  box-shadow: none !important;
  border-radius: 10px;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
  color: #fff;
  background-color: var(--text-danger);
}

/* Upload Media Modal */
.uploadModal-2ie9O_ {
  background-color: var(--background-primary) !important;
}
.footer-VCsJQY {
  background-color: var(--background-tertiary) !important;
  box-shadow: none !important;
}

/* Payment Modal */
.root-g14mjS {
  background-color: var(--background-primary) !important;
  box-shadow: none;
}
.paymentPane-ut5qKZ {
  background-color: var(--background-tertiary-alt) !important;
}
.bottomDivider-ZmTm-j {
  border-bottom-color: var(--background-secondary-alt) !important;
}
.expandedInfo-1W31i3 {
  background-color: var(--background-primary) !important;
}
.paginator-1eqD2g,
.payment-2bOh4k,
.codeRedemptionRedirect-3SBiCp {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-tertiary-alt) !important;
}

/* Create Servers Modal (Dark Theme) */
.theme-dark .footer-31IekZ {
  background-color: #13131a !important;
  box-shadow: none !important;
}
.theme-light .footer-31IekZ {
  background: var(--background-secondary-alt);
  box-shadow: none !important;
}
.theme-dark .root-g14mjS {
  background: #1a1b26 !important;
  box-shadow: none;
}
.theme-dark .container-x8Y1ix {
  background-color: #171722;
  border-color: #13131a;
}
.theme-dark .container-x8Y1ix:hover {
  background-color: #161620;
}
.theme-dark .input-2g-os5,
.input-m1-Y7Q {
  background-color: #161720;
}
.theme-dark .colorStandard-21JIj7,
.theme-dark .input-2g-os5 {
  color: #dcddde;
}
.theme-dark .colorHeaderSecondary-g5teka {
  color: #b9bbbe;
}
.theme-dark .sampleLink-5BWNy9,
.uploadIcon-2wV7s_ {
  color: #6f738e;
}
.theme-dark .base-21yXnu {
  color: #fff;
}
.background-3d_SjE .fieldList-in8WkP .field-21XZwa .lookFilled-1Gx00P.colorGrey-2DXtkV,
.container-36u7Lw .footer-31IekZ .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: #fff;
  background-color: var(--brand-experiment) !important;
}
.backButton-2Ps-B8 {
  color: #747f8d;
}
.backButton-2Ps-B8:hover {
  text-decoration: underline;
}

/* ~~~~		  		Watermark							~~~~ */

.wordmarkWindows-2dq6rw svg {
  position: fixed;
  top: 3px;
  left: 50%;
  transform: translate(-50%);
}
.typeWindows-2-g3UY {
  z-index: 1;
  background-color: var(--background-tertiary-alt);
}

/* ~~~~		  		     BD Support							~~~~ */
#bd-editor-controls {
  background: var(--background-tertiary-alt);
  color: var(--interactive-normal);
}
#floating-editor-window {
  border-radius: 10px;
}
.floating-window-titlebar {
  background-color: var(--background-tertiary-alt);
}
.floating-window #bd-editor-controls {
  background-color: var(--background-tertiary) !important;
  border-bottom: 1px solid var(--background-tertiary);
  box-shadow: none;
}
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
  background-color: var(--background-secondary) !important;
}
.monaco-editor .minimap,
.monaco-editor .decorationsOverviewRuler {
  display: none !important;
}
.bd-tab-item.selected {
  cursor: default;
  background: var(--background-accent);
}
.bd-addon-error {
  border-color: var(--background-tertiary) !important;
  background: var(--background-secondary) !important;
}
.bd-addon-error-icon {
  display: flex;
  align-items: center;
  background-color: var(--background-primary);
}
.bd-addon-modal-footer .bd-button {
  background-color: var(--brand-experiment);
}
.bd-addon-modal-footer .bd-button:hover {
  background-color: var(--brand-experiment-560) !important;
}

/* ~~~~		  		     Powercord Support							~~~~ */
.powercord-toast-container {
  --toast-background: var(--background-secondary);
  --toast-header: var(--background-tertiary);
  --toast-contents: var(--background-primary);
  --toast-box-shadow: var(--elevation-stroke), var(--elevation-high);
  --toast-border: transparent;
}

.modal-2RrUKJ {
	background-color: var(--background-primary) !important;
}

/* ~~~~		  		 Plugin Support							~~~~ */

/* Better Codeblocks */
#app-mount .hljs {
  background-color: var(--background-secondary) !important;
  color: var(--text-normal);
  position: relative;
}

/* Better Formatting Redux */
.bf-toolbar::before {
  background: var(--background-secondary) !important;
}
.tooltipBlack-vMYxvw {
  background-color: var(--background-floating) !important;
}
.tooltipPointer-3L49xb {
  border-top-color: var(--background-floating) !important;
}

/* Powercord Spotify Modal */
.panels-3wFtMD > .powercord-spotify > .container-YkUktl,
.spotify-tooltip > .tooltipContent-Nejnvh > .nameTag-sc-gpq,
.panels-3wFtMD > .powercord-spotify > .container-YkUktl > .flex-2S1XBF,
.panels-3wFtMD > .powercord-spotify > .container-YkUktl > .avatarWrapper-1B9FTW {
  position: static;
  flex-direction: initial;
}
.panels-3wFtMD > .powercord-spotify > .container-YkUktl:before {
  content: none;
}
.panels-3wFtMD > .powercord-spotify > .container-YkUktl > .nameTag-sc-gpq {
  display: block;
  position: static;
  align-self: initial;
}
.panels-3wFtMD > .powercord-spotify > .container-YkUktl > .flex-2S1XBF > button:not(:last-of-type),
.panels-3wFtMD > .powercord-spotify > .container-YkUktl > .flex-2S1XBF > button:last-of-type {
  position: static;
  transform: none;
  align-self: initial;
}
.panels-3wFtMD > .powercord-spotify > .container-YkUktl > .nameTag-sc-gpq > .subtext-2HDqJ7 {
  font-size: 12px;
  margin-left: 0;
}
.fa-forward, .fa-backward{
  transition-duration: 0.3s;
}
button:hover .fa-forward:hover{
  transform: translate(2px);
}
button:hover .fa-backward:hover{
  transform: translate(-2px);
}

/* ----------------------------- END OF THEME ----------------------------- */

/* ~~~~		  		CSS Snippets							~~~~ */

/* Smooth Server Banner Disappearing. */
[class*="animatedContainer-"] {
  opacity: 1 !important;
  transition: opacity 0.25s;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
  transition: margin 0.25s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
  opacity: 0 !important;
  height: 138px;
}
:not([class*="bannerVisible-"])
  > [class*="animatedContainer-"]
  > [class*="bannerImage-"] {
  margin-top: -12px;
}

/* better name colors in chat & list light mode */
.theme-light .username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P,
.theme-light .roleColor-nA7BqX.desaturateUserColors-1O-G89 {
  filter: contrast(50%);
  transition: filter 0.25s;
}
.theme-light .username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P:hover,
.theme-light .roleColor-nA7BqX.desaturateUserColors-1O-G89:hover {
  filter: contrast(100%);
}

/* Hide Some Things */
.banner-1YaD3N:hover .premiumIconWrapper-32h0Ri .textBadge-1fdDPJ,
.banner-1YaD3N:hover .bannerOverlay-1uIerX,
.banner-1YaD3N:hover .pencilIcon-z04-c5,
button[aria-label="Send a gift"],
[href="/discovery"],
.gifTag-3_dPxY {
  display: none;
}
.textBadge-1fdDPJ {
  display: block;
}

/* Fix Fullscreen bar issue */
.layer-86YKbF > .container-1eFtFS > .wrapper-1_HaEi.hidden-10MsGQ + .base-2jDfDU {
    overflow: hidden !important;
    max-width: none !important;
}

/* Replaces Message Links with "Jump to Message" */
[href^="https://discord.com/channels/"],
[href^="https://canary.discord.com/channels/"]
{
  line-height: 0;
  font-size: 0;
}
[href^="https://discord.com/channels/"]::before,
[href^="https://canary.discord.com/channels/"]::before
{
  content: "Jump to Message";
  font-size: 16px;
  font-weight: 500;
}
