@media screen and (min-width: 601px) and (max-width: 920px) {
  /* Minimize channels sidebar */
  .wrapper-1_HaEi.guilds-2JjMmN[aria-label] {
    z-index: 30 !important; 
  }

  .base-2jDfDU .sidebar-1tnWFu {
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: -240px;
    border-radius: 0;
    transition: left 200ms;
    transition-delay: 150ms;
  }

  .sidebar-1tnWFu:hover,
  .wrapper-1_HaEi:hover + .base-2jDfDU > .content-1SgpWY > .sidebar-1tnWFu{
    left: 72px;
  }

  /* Hide member list */
  .membersWrap-3NUR2t {
    display: none;
  }

  /* Compact Top bar */
  .toolbar-3_r2xA > :nth-child(2),
  .toolbar-3_r2xA > :nth-child(4) {
    display: none;
  }

  /* Compact Search */
  .searchBar-zdmu7v {
    width: 28px;
    transition: width 0.2s ease-in-out;
  }
  .searchBar-zdmu7v .iconContainer-1RqWJj {
    width: 24px !important;
    height: 24px;
    cursor: pointer !important;
  }
  .searchBar-zdmu7v svg {
    color: var(--interactive-normal);
    width: 24px !important;
    height: 24px;
    padding: 0.5px;
  }
  .searchBar-zdmu7v:hover svg {
    color: var(--interactive-hover)
  }
  .search-1FM8Qc .public-DraftEditorPlaceholder-inner {
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
  }
  .search-1FM8Qc.open-3y3yI_ .public-DraftEditorPlaceholder-inner {
    opacity: 1;
  }
  .search-1FM8Qc.open-3y3yI_ .searchBar-zdmu7v svg {
    color: var(--interactive-muted);
    transform: scale(0.8);
  }
}

/* Very Compact (chat only) */
@media screen and (min-width: 0px) and (max-width: 600px) {
  .panels-3wFtMD  { position: fixed; bottom: -999px; }
  .chat-2ZfjoI { margin-left: 0px; }
  .sidebar-1tnWFu { width: 0px; }
  .sidebar-1tnWFu .thin-31rlnD { display: none; }
  .sidebar-1tnWFu  { padding: 0px !important; }
  .toolbar-3_r2xA { display: none; }
  .children-3xh0VB { margin-right: 10px; }
  .wrapper-1_HaEi { display: none; }
  .membersWrap-3NUR2t { display: none; }
}
