/* Compact Mode */
.compact__54ecc .headerText_f47574 > .username_d30d99::before {
  content: ''; 
  width: calc(100% + 6px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.3; 
  position: absolute; 
  top: 0; 
  left: -4px;
  z-index: -1;
}
.compact__54ecc .headerText_f47574 > .username_d30d99::after {
  content: ":";
}

/* Cozy Mode */
.cozy_f5c119 .headerText_f47574 > .username_d30d99::before {
  content: ''; 
  width: calc(100% + 7px); 
  height: 100%;
  border-radius: 5px;
  background-color: currentColor; 
  opacity: 0.3; 
  position: absolute; 
  top: 0; 
  z-index: -1;
  /* repairs left shift*/
  left: -3px;
}
.cozy_f5c119 .headerText_f47574 > .username_d30d99::after {
  content: ":";
}
/* repairs left shift */
.cozy_f5c119 .headerText_f47574 > .username_d30d99 {
  margin-left: 3px;
}
