/* Mac Like Titlebar */
:root {
  --close-button-color: #e92a2ade;
  --minimize-button-color: #f7bc1bde;
  --maximize-button-color: #12db33de;
  --button-position: row;
}

.withFrame__485f4 {
  margin: 0;
  height: 24px;
}
.typeWindows__5fa63 {
  flex-direction: var(--button-position);
  margin-left: 3px !important;
}
.withFrame__485f4 .winButton__88672 > svg {
  display: none;
}
.withFrame__485f4 .winButton__88672:hover {
  background-color: var(--background-teritary);
}
.withFrame__485f4 .winButton__88672 {
  pointer-events: none;
  margin-left: -4px;
  top: 0;
}
.withFrame__485f4 .winButton__88672::after {
  content: "";
  padding: 7px;
  border-radius: 50px;
  pointer-events: fill;
  transition-duration: 200ms;
}
.withFrame__485f4 .winButtonClose__73489::after {
  background-color: var(--close-button-color) !important;
  margin-top: 0px;
}
.withFrame__485f4 .winButtonMinMax__72f36:nth-child(3)::after {
  background-color: var(--maximize-button-color) !important;
  margin-top: 0px;
}
.withFrame__485f4 .winButtonMinMax__72f36:nth-child(4):after {
  background-color: var(--minimize-button-color) !important;
  margin-top: 0px;
}
.typeWindows__5fa63 > div:hover::after {
  transform: scale(1.1);
}

.withFrame__485f4 .winButton__88672:nth-last-child(1) {
  order: 2;
}
.withFrame__485f4 .winButton__88672:nth-last-child(2) {
  order: 3;
}
.withFrame__485f4 .winButton__88672:nth-last-child(3) {
  order: 1;
}
