/**
  * Revert Rebrand by Ducko with some tweak from me.
  **/

/* Variables revert but without old red and green */
body {
  /* Revert to old font var */
  --font-display: var(--font-primary);

  /* Found in Discord's CSS file: oldBrand vs newBrand HTML class - here we force old brand vars via copying */
  --brand-experiment-100: #f8f9fd;
  --brand-experiment-130: #f2f4fc;
  --brand-experiment-160: #ebeefa;
  --brand-experiment-200: #e3e7f8;
  --brand-experiment-230: #dae0f5;
  --brand-experiment-260: #d1d9f3;
  --brand-experiment-300: #c7d0f0;
  --brand-experiment-330: #b5c1ec;
  --brand-experiment-360: #a5b3e7;
  --brand-experiment-400: #8ea1e1;
  --brand-experiment-430: #869adf;
  --brand-experiment-460: #7d92dd;

  --brand-experiment: #7289da;

  --brand-experiment-500: #7289da;
  --brand-experiment-530: #687dc6;
  --brand-experiment-560: #5c6fb1;
  --brand-experiment-600: #4e5d94;
  --brand-experiment-630: #435180;
  --brand-experiment-660: #3b4770;
  --brand-experiment-700: #2e3757;
  --brand-experiment-730: #2b3352;
  --brand-experiment-760: #272f4b;
  --brand-experiment-800: #222941;
  --brand-experiment-830: #1a2032;
  --brand-experiment-860: #111521;
  --brand-experiment-900: #06070b;

  --brand-experiment-05a: rgba(114,137,218,0.05);
  --brand-experiment-10a: rgba(114,137,218,0.1);
  --brand-experiment-15a: rgba(114,137,218,0.15);
  --brand-experiment-20a: rgba(114,137,218,0.2);
  --brand-experiment-25a: rgba(114,137,218,0.25);
  --brand-experiment-30a: rgba(114,137,218,0.3);
  --brand-experiment-35a: rgba(114,137,218,0.35);
  --brand-experiment-40a: rgba(114,137,218,0.4);
  --brand-experiment-45a: rgba(114,137,218,0.45);
  --brand-experiment-50a: rgba(114,137,218,0.5);
  --brand-experiment-55a: rgba(114,137,218,0.55);
  --brand-experiment-60a: rgba(114,137,218,0.6);
  --brand-experiment-65a: rgba(114,137,218,0.65);
  --brand-experiment-70a: rgba(114,137,218,0.7);
  --brand-experiment-75a: rgba(114,137,218,0.75);
  --brand-experiment-80a: rgba(114,137,218,0.8);
  --brand-experiment-85a: rgba(114,137,218,0.85);
  --brand-experiment-90a: rgba(114,137,218,0.9);
  --brand-experiment-95a: rgba(114,137,218,0.95);
}

/* Change folder icons color */
.expandedFolderIconWrapper-Huv7rA > svg[style="color: rgb(88, 101, 242);"] {
  color: var(--brand-experiment) !important;
}

/* Color BD specific settings elements */
#bd-pub-button, .bd-addon-views .bd-view-button.selected, .bd-button {
  background-color: var(--brand-experiment);
}
.bd-button:hover {
  background-color: var(--brand-experiment-560);
}
.bd-button:active {
  background-color: var(--brand-experiment-600);
}

/* Verified check mark color */
.verified-1eC5dy {
  color: var(--old-green);
}

/* Revert new Nitro icon by setting item */
.premiumTabItem-1QTfBr .icon-Zc-uZZ {
  display: none;
}

/* Fix the color of the spotify play icon on the upload button when playing on spotify */
.attachButtonPlay-3iJ0mf {
  color: var(--old-green);
}

/* Revert the command names and 'dismiss message' button to blurple */
.commandName-1klrjB.clickable-1bVtEA, .ephemeralMessage-1fEWtQ .anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB[role=button] {
  color: var(--brand-experiment);
}

/* Revert SVG path data */
.wordmarkWindows_a934d8 path {
  d: path("M3.57642276,0.141304348 L0,0.141304348 L0,4.22826087 L2.38069106,6.40217391 L2.38069106,2.43478261 L3.66260163,2.43478261 C4.47052846,2.43478261 4.86910569,2.83695652 4.86910569,3.4673913 L4.86910569,6.5 C4.86910569,7.13043478 4.49207317,7.55434783 3.66260163,7.55434783 L0,7.55434783 L0,9.85869565 L3.57642276,9.85869565 C5.49390244,9.86956522 7.29288618,8.90217391 7.29288618,6.66304348 L7.29288618,3.39130435 C7.29288618,1.13043478 5.49390244,0.141304348 3.57642276,0.141304348 Z M22.3310976,6.67391304 L22.3310976,3.32608696 C22.3310976,2.11956522 24.4640244,1.83695652 25.1103659,3.05434783 L27.0817073,2.23913043 C26.3168699,0.510869565 24.8949187,0 23.7207317,0 C21.803252,0 19.9073171,1.13043478 19.9073171,3.32608696 L19.9073171,6.67391304 C19.9073171,8.88043478 21.803252,10 23.6776423,10 C24.8841463,10 26.3276423,9.39130435 27.1247967,7.81521739 L25.0134146,6.82608696 C24.4963415,8.17391304 22.3310976,7.84782609 22.3310976,6.67391304 Z M15.8030488,3.7826087 C15.0597561,3.61956522 14.5642276,3.34782609 14.5319106,2.88043478 C14.575,1.75 16.2878049,1.7173913 17.2896341,2.79347826 L18.8731707,1.55434783 C17.8821138,0.326086957 16.7617886,0 15.598374,0 C13.8424797,0 12.1404472,1 12.1404472,2.91304348 C12.1404472,4.77173913 13.5408537,5.76086957 15.0813008,6 C15.8676829,6.10869565 16.7402439,6.42391304 16.7186992,6.97826087 C16.654065,8.02173913 14.5426829,7.9673913 13.5839431,6.7826087 L12.0650407,8.23913043 C12.9591463,9.40217391 14.1764228,10 15.3182927,10 C17.074187,10 19.0239837,8.9673913 19.0993902,7.08695652 C19.2071138,4.69565217 17.5050813,4.09782609 15.8030488,3.7826087 Z M8.59634146,9.85869565 L11.0093496,9.85869565 L11.0093496,0.141304348 L8.59634146,0.141304348 L8.59634146,9.85869565 Z M49.2835366,0.141304348 L45.7071138,0.141304348 L45.7071138,4.22826087 L48.0878049,6.40217391 L48.0878049,2.43478261 L49.3589431,2.43478261 C50.1668699,2.43478261 50.5654472,2.83695652 50.5654472,3.4673913 L50.5654472,6.5 C50.5654472,7.13043478 50.1884146,7.55434783 49.3589431,7.55434783 L45.6963415,7.55434783 L45.6963415,9.85869565 L49.2727642,9.85869565 C51.1902439,9.86956522 52.9892276,8.90217391 52.9892276,6.66304348 L52.9892276,3.39130435 C53,1.13043478 51.2010163,0.141304348 49.2835366,0.141304348 Z M31.7353659,0 C29.753252,0 27.7819106,1.09782609 27.7819106,3.33695652 L27.7819106,6.66304348 C27.7819106,8.89130435 29.7640244,10 31.7569106,10 C33.7390244,10 35.7103659,8.89130435 35.7103659,6.66304348 L35.7103659,3.33695652 C35.7103659,1.10869565 33.7174797,0 31.7353659,0 Z M33.2865854,6.66304348 C33.2865854,7.35869565 32.5109756,7.7173913 31.7461382,7.7173913 C30.9705285,7.7173913 30.1949187,7.36956522 30.1949187,6.66304348 L30.1949187,3.33695652 C30.1949187,2.61956522 30.9489837,2.23913043 31.7030488,2.23913043 C32.4894309,2.23913043 33.2865854,2.58695652 33.2865854,3.33695652 L33.2865854,6.66304348 Z M44.3605691,3.33695652 C44.3067073,1.05434783 42.7770325,0.141304348 40.8056911,0.141304348 L36.9815041,0.141304348 L36.9815041,9.86956522 L39.4268293,9.86956522 L39.4268293,6.77173913 L39.8577236,6.77173913 L42.0768293,9.85869565 L45.0930894,9.85869565 L42.4861789,6.52173913 C43.6495935,6.15217391 44.3605691,5.14130435 44.3605691,3.33695652 Z M40.8487805,4.65217391 L39.4268293,4.65217391 L39.4268293,2.43478261 L40.8487805,2.43478261 C42.3784553,2.43478261 42.3784553,4.65217391 40.8487805,4.65217391 Z");
}
.wordmarkWindows_a934d8 path:not(:first-child) {
  display: none;
}
/* Tweak positioning */
.wordmarkWindows_a934d8 g {
  transform: translateY(3px);
}

/* On switches to old green */
.container-2nx-BQ[style="opacity: 1; background-color: rgb(59, 165, 92);"] {
  background-color: var(--text-positive) !important;
}

/* Text input focus border color is now focus / link, change back to original brand color */
.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus {
  border-color: var(--accent-color);
}

/* Revert home icon */
.homeIcon-FuNwkv > path {
  d: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z");
}

/* Revert mentions and channel links */
#app-mount .wrapper_d4fa29 {
  color: var(--brand-experiment-460);
  background: var(--brand-experiment-10a);

  text-decoration: none !important;
  padding: 0 1px;
}

#app-mount .wrapper_d4fa29:hover {
  background: var(--brand-experiment);
  color: var(--brand-experiment-100);
}

/* Read left padding for icons in mentions as our own padding removes it and breaks look */
#app-mount .mention.iconMentionText-1_WCtN {
  padding-left: 1.2rem;
}

#app-mount .mention.iconMention-3WxjBe {
  padding-left: 1.3rem;
}
