:root {
  --avatar-radius: 5px;
}

.avatar-2Vndt_,
.userInfo_f3939d .avatar_f3939d svg foreignObject, /* Friend list avatars */
.avatar_e9f61e svg:not(.linkButtonIcon_c91bad) foreignObject, /* Server members avatars */
.avatar-2Vndt_ foreignObject, /* User card avatar */
.wrapper-1VLyxH svg foreignObject,
.avatarHint_f89da9 foreignObject,
.container_b2ca13 .avatar_b2ca13 svg foreignObject, /* Status bar avatar */
.headerAvatar_cd82a7 svg foreignObject, /* Active now avatars */
.avatar-3QF_VA svg foreignObject {
  /* Profile modal avatar */
  mask: none;
  border-radius: var(--avatar-radius);
}
.wrapper-1VLyxH, /* user popout */
.avatar-2Vndt_,
.avatar_ec86aa.clickable_ec86aa, /* Chat avatar */
.repliedMessage_ec86aa .replyAvatar_ec86aa {
  /* Replying to avatar */
  border-radius: var(--avatar-radius);
}

/* Status Pill */
.wrapper-1VLyxH > svg > rect,
.avatar_b69b77 > .mask-1FEkla > rect,
.avatar-2Vndt_ > svg > rect,
.avatar-3QF_VA > svg > rect,
.listAvatar_e4be58 > svg > rect {
  rx: var(--avatar-radius);
  mask: none;
  stroke: var(--background-floating);
  stroke-width: 3px;
}
.avatar_b69b77 > .mask-1FEkla > rect,
.avatar-2Vndt_ > svg > rect,
.avatar-3QF_VA > svg > rect,
.listAvatar_e4be58 > svg > rect {
  width: 20px !important;
  height: 20px !important;
}
