/* ---- Discord Variables ---- */
.theme-dark {
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --text-normal: #b1bae6;
  --text-muted: #565f89;
  --text-positive: hsl(89, calc(var(--saturation-factor, 1)*51%),61%) !important;
  --text-warning: hsl(39, calc(var(--saturation-factor, 1)*66%), 64%) !important;
  --text-danger: hsl(349, calc(var(--saturation-factor, 1)*89%), 72%) !important;
  --text-link: hsl(217, calc(var(--saturation-factor, 1)*40%), 56%) !important;
  --info-positive-background: hsla(89,calc(var(--saturation-factor, 1)*51%),61%,0.8) !important;
  --info-positive-foreground: var(--text-positive);
  --info-warning-background: hsla(39,calc(var(--saturation-factor, 1)*66%),64%,0.8) !important;
  --info-warning-foreground: var(--text-warning);
  --info-danger-background: hsla(349,calc(var(--saturation-factor, 1)*89%),72%,0.8) !important;
  --info-danger-foreground: var(--text-danger);
  --status-danger: var(--text-danger);
  --status-warning: var(--text-warning);
  --status-positive: var(--text-positive);
  --status-positive-background: var(--info-positive-background);
  --status-warning-background: var(--info-warning-background);
  --status-danger-background: var(--info-danger-background);
  --interactive-normal: #5f647e;
  --interactive-hover: #a2a6c2;
  --interactive-active: #b5bad1;
  --interactive-muted: #55576b; 
  --channels-default: var(--text-muted);
  --background-primary: #1a1b26;
  --background-secondary: #171722;
  --background-secondary-alt: #13131a;
  --background-tertiary: #16161e;
  --background-accent: #434461;
  --background-floating: #161620;
  --background-modifier-hover: #212331c0;
  --background-modifier-active: #282a3680;
  --background-modifier-selected: #24263171;
  --background-modifier-accent: #1e1e29;
  --background-mentioned: #252836;
  --border-mentioned: #474c64;
  --background-mentioned-hover: #2f3344;
  --accent-color: #7aa2f7;
  --folder-color: #202332d0;
  --folder-color-light: #2f3342d0;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #2b2b46af;
  --scrollbar-auto-thumb-hover: #27273d85;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
  --input-background: var(--background-secondary);
}

.theme-light {
  --header-primary: var(--text-normal);
  --header-secondary: var(--text-muted);
  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-positive: hsl(89, calc(var(--saturation-factor, 1)*32%), 28%);
  --text-warning: hsl(36, calc(var(--saturation-factor, 1)*74%), 32%);
  --text-danger: hsl(348, calc(var(--saturation-factor, 1)*35%), 31%);
  --info-positive-background: hsla(89,calc(var(--saturation-factor, 1)*32%),28%,0.8) !important;
  --info-positive-foreground: var(--text-positive);
  --info-warning-background: hsla(36,calc(var(--saturation-factor, 1)*74%),32%,0.8) !important;
  --info-warning-foreground: var(--text-warning);
  --info-danger-background: hsla(349,calc(var(--saturation-factor, 1)*35%),31%,0.8) !important;
  --info-danger-foreground: var(--text-danger);
  --status-danger: var(--text-danger);
  --status-warning: var(--text-warning);
  --status-positive: var(--text-positive);
  --status-positive-background: var(--info-positive-background);
  --status-warning-background: var(--info-warning-background);
  --status-danger-background: var(--info-danger-background);
  --interactive-normal: #4c505e;
  --interactive-hover: #404350;
  --interactive-active: #373a44;
  --interactive-muted: #77797c;
  --background-primary: #d5d6db;
  --background-secondary: #cecfd4;
  --background-secondary-alt: #b6b7bd;
  --background-tertiary: #c5c6cc;
  --background-accent: #9ca3bb;
  --background-floating: #c2c2c9;
  --background-mentioned: #c4c7da;
  --background-modifier-hover: #2c2a2a25;
  --background-modifier-active: #5a525229;
  --background-modifier-selected: #555e693d;
  --background-modifier-accent: #06060714;
  --border-mentioned: #a9afcf;
  --background-mentioned-hover: #cfd2e9;
  --accent-color: #34548a;
  --folder-color: #a7a6a6d0;
  --folder-color-light: #afafafd0;
  --input-box-bg: #c2c2c7;
  --input-box-border: #b3b4b8;
  --input-box-border-focus: #959699;
  --scrollbar-thin-thumb: transparent;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #a0a0a0af;
  --scrollbar-auto-thumb-hover: #77777785;
  --scrollbar-auto-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
  --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  --channeltextarea-background: var(--background-secondary);
  --input-background: var(--background-secondary);
}

/* ~~~~		  		General							~~~~ */
.theme-dark ::selection {
  background-color: #515c7e40;
  color: #a9b1d6;
}
.theme-light ::selection {
  background-color: #fafbff55;
  color: #4c505e;
}

/* Input Box Placeholder Text */
::placeholder {
  color: var(--text-muted) !important;
}

/* Scrollbar */
.auto-2K3UW5::-webkit-scrollbar-thumb,
.auto-2K3UW5::-webkit-scrollbar-track {
  height: 100px;
  border-right: 0px solid transparent;
  border-left: 8px solid transparent;
  border-radius: 0px;
}
.auto-2K3UW5::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-auto-thumb-hover);
}

/* Tooltips */
.tooltipPrimary-3qLMbS,
.toolbar_c7b525 {
  background-color: var(--background-secondary-alt) !important;
}
.toolbar_c7b525:before {
  border-top-color: var(--background-secondary-alt);
}
.tooltipPrimary-3qLMbS .tooltipPointer-3L49xb {
  border-top-color: var(--background-secondary-alt) !important;
}

/* Friend list tab */
.friendSelected_f0db37 {
  background-color: var(--background-tertiary) !important;
}
.outer_a41cf3.interactive__01cfa:hover {
  background-color: var(--background-tertiary) !important;
}
.inset__0bfb3,
.separator_c2ecc6 {
  background-color: var(--background-secondary) !important;
}
.pageWrapper_fef757,
.container__5c7e7 {
  background-color: var(--background-primary) !important;
}

/* Chat Box */
.buttons_ce5b56 {
  opacity: 0;
  transition: opacity .15s;
}
.channelTextArea__2e60f:hover .buttons_ce5b56 {
  opacity: 1;
}
.placeholder_dec8c7 {
  color: var(--text-muted) !important;
}
.lookFilled-1GseHa.colorPrimary-2AuQVo {
  color: var(--text-normal) !important;
  background-color: var(--background-primary) !important;
}
.mentionButton_a470c4 {
  color: var(--accent-color);
}
.scrollableContainer_ff917f {
  border-radius: 5px;
  border-bottom: 2px var(--background-tertiary) solid;
  transition: border-color .15s ease;
}
.scrollableContainer_ff917f:hover,
.scrollableContainer_ff917f:focus-within {
  border-bottom-color: var(--accent-color);
}
.emptyChannelIcon__1a1ba {
  background-color: var(--background-tertiary);
}
.theme-dark .spriteContainer__732c7:not(:hover) {
  filter: none !important;
  background: url("https://dyzean.github.io/Tokyo-Night/src/assets/emoji-dark.png") center/contain no-repeat !important;
}
.theme-light .spriteContainer__732c7:not(:hover) {
  filter: none !important;
  background: url("https://dyzean.github.io/Tokyo-Night/src/assets/emoji-light.png") center/contain no-repeat !important;
}

/* Home Channel */
.background_e80d5a {
  background-color: var(--background-primary) !important;
}
.interactiveCard_d5a839,
.containerCard__30250 {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-tertiary);
}
.scrollIcon_bcdae3 {
  background-color: var(--background-tertiary);
}

/* Forum Channel */
.grid_c2bdfe, .list__5ced9, .auto_a3c0bd {
  background-color: var(--background-primary) !important;
}

.container_de2a56 {
  background-color: var(--background-tertiary) !important;
}

.mainCard__0ec2c {
  background-color: var(--background-secondary) !important;
}

.forumOrHome__8b95a {
    --__header-bar-background: var(--background-primary) !important;
}

/* Jump to present & New message bar */
.newMessagesBar__8b6d7 {
  background-color: var(--background-accent);
  border-radius: 50px;
  margin-top: 5px;
}
.jumpToPresentBar__0ff7f,
.jumpToPresentBar__0ff7f:active {
  margin-bottom: 13px;
  border-radius: 20px;
  padding: 0;
}

/* Top Bar */
#app-mount .children_cde9af > .iconWrapper_de6cd1 svg,
#app-mount .base-21yXnu {
  color: var(--header-primary);
}

/* Voice Call Tab */
.callContainer_cbde45  {
  background-color: var(--background-floating) !important;
}
.tile_a411a4 {
  background-color: var(--background-secondary);
}
.header_b40d88 {
  color: var(--text-normal)
}
.button__13ec4 {
  color: #fff;
  background-color: var(--accent-color);
}

/* Thread Spine */
.hasThread__58ee2:after {
  border-left: 2px solid var(--interactive-normal) !important;
  border-bottom: 2px solid var(--interactive-normal) !important;
}

/* Fix some svg color */
svg[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
  fill: var(--text-positive);
}
svg[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
  fill: var(--text-warning);
}
svg[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
  fill: var(--text-danger);
}

/* Bot Tag */
.botTagRegular_fc4b4a {
  background: var(--accent-color) !important;
}

/* ~~~~		  		Messages							~~~~ */

/* Quotes */
.blockquoteContainer_f24d1f {
  padding: 2px 0 2px 0;
}
.blockquoteContainer_f24d1f blockquote {
  background-color: var(--background-secondary);
  border: 1px solid var(--background-secondary);
  color: var(--text-normal);
  border-radius: 0 4px 4px 0;
  padding: 4px 11px 4px;
}
.blockquoteContainer_f24d1f > .blockquoteDivider__96157 {
  background-color: var(--accent-color);
  border-radius: 4px 0 0 4px;
}
.after_inlineCode-WydEur,
.before_inlineCode-xn8Llh,
.inlineCode-2auMQi {
  background-color: var(--background-secondary-alt);
}

/* Reply text */
.repliedMessage_e2bf4a .repliedTextPreview__90311 {
  color: var(--text-normal);
  opacity: 0.64;
}
.repliedMessage_e2bf4a .repliedTextPreview__90311:hover {
  opacity: 1;
}

/* Embeds */
.wrapperAudio__555ce {
  width: auto !important;
  min-width: 400px;
}
.embedWrapper_c143d9.embedFull__8dc21 {
  border-radius: 4px;
  border-left: 4px solid var(--accent-color);
  box-shadow: var(--elevation-high);
}

/* Nitro Gift */
.tile_ebc93b {
  background-color: var(--background-secondary) !important;
}
.lookFilled-1GseHa.colorPrimary-2AuQVo:disabled {
  background-color: var(--background-primary) !important;
}

/* Mentions */
.replying__38514::before,
.mentioned_fa6fd2::before {
  background-color: var(--border-mentioned);
}

/* Quick Button */
.wrapper_c727b6 {
  background-color: var(--background-secondary);
}

/* Polls */
.pollContainer__95d4b {
  background-color: var(--background-secondary) !important;
}

.answerInner_a3bc8e {
  background-color: var(--background-primary) !important;
}

/* ~~~~		  		Popouts							~~~~ */

/* User Popouts */
.userTagUsernameNoNickname-2e_xaO {
  color: var(--text-normal);
}
.rolePill-2IJ1vo {
  background-color: var(--profile-role-pill-background-color);
  border: 0px solid; /* Remove role pill's border */
  border-color: var(--profile-role-pill-border-color);
}
.messageInput-1KI8l8 {
  background-color: var(--background-secondary-alt);
}
.messageInputContainer-2rGDH8 {
  border: 1px solid var(--background-tertiary);
}

/* Add Role Popouts */
.container-2O1UgZ {
  background-color: var(--background-floating);
  border-color: var(--background-secondary-alt);
}

/* Search Popouts */
.container_d6dad3 {
  background-color: var(--background-floating) !important;
  border-radius: 10px !important;
  box-shadow: var(--elevation-high) !important;
}
.option_b5597b::after {
  display: none !important;
}
.option_b5597b.selected-rZcOL-,
.input__848cd {
  background-color: var(--background-secondary-alt) !important;
}
.focused_f9cf2c {
  background-color: var(--background-secondary-alt) !important;
}
.searchAnswer_b452e7,
.searchFilter__118cb {
  background-color: var(--background-primary) !important;
  color: var(--header-primary) !important;
}
.option-2KkUJO[aria-selected=true] {
  background-color: var(--background-modifier-hover) !important;
}
.searchOption__41bc5 .filter_bd5fe7,
.option_b5597b:not([group="SEARCH_OPTIONS"]) .answer__9ff92,
.option_b5597b .nonText_cbb69b,
.queryContainer_c359fe strong,
.option_b5597b strong {
  color: var(--text-normal) !important;
}
.option_b5597b .filter_bd5fe7,
.searchOption__41bc5 .answer__9ff92 {
  color: var(--text-muted) !important;
}
.resultsGroup_ea9b64 .header_b24bd1,
.resultsGroup_ea9b64 .plusIcon__36244,
.resultsGroup_ea9b64 .searchClearHistory_cd1df2,
.resultsGroup_ea9b64 .searchLearnMore-7__o_n a {
  color: var(--channels-default) !important;
}

/* Calendar */
.calendarPicker__5c474 .react-datepicker__navigation.react-datepicker__navigation--previous {
  border: none !important;
}
.calendarPicker__5c474 .react-datepicker__current-month,
.calendarPicker__5c474 .react-datepicker__day-name {
  color: var(--text-normal) !important;
}
.calendarPicker__5c474 .react-datepicker__day {
  border-top: 1px solid var(--background-modifier-accent) !important;
  border-left: 1px solid var(--background-modifier-accent) !important;
}
.calendarPicker__5c474 .react-datepicker__day--disabled,
.calendarPicker__5c474 .react-datepicker__day--outside-month,
.calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--disabled,
.calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: var(--background-secondary-alt) !important;
  color: var(--text-muted) !important;
}
.calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--keyboard-selected,
.calendarPicker__5c474 .react-datepicker__day.react-datepicker__day--selected:hover,
.calendarPicker__5c474 .react-datepicker__day:hover,
.calendarPicker__5c474 .react-datepicker__day {
  color: var(--text-normal) !important;
}
.calendarPicker__5c474 .react-datepicker__header,
.calendarPicker__5c474 .react-datepicker {
  background-color: var(--background-floating) !important;
}

/* Stream Preview Popouts */
.protip-13raHg {
  display: none;
}
.streamPreview-3qoMP4 {
  background-color: var(--background-tertiary) !important;
}
.previewContainer-12U1H1 {
  background-color: var(--background-secondary) !important;
}

/* Emoji Popouts */
.autocompleteInner_ad9e21, .autocompleteInner__0bf3d {
  background-color: var(--background-floating) !important;
}
.selected-3H3-RC {
  background-color: var(--background-primary) !important;
}

/* Slash Command Popouts */
.categoryHeader_f97a5f {
  background-color: var(--background-floating) !important;
}
.option__32fd1,
.pill-1HLSrc {
  background-color: var(--background-primary) !important;
}

/* ~~~~		  		Sidebar							~~~~ */

/* Server List */
.folder__17546,
.expandedFolderBackground__1bec6,
.folder__17546 > .folderIconWrapper__72239[style="background-color: rgba(88, 101, 242, 0.4);"] {
  background-color: var(--folder-color) !important;
}
.folderIconWrapper__72239[style="background-color: rgba(88, 101, 242, 0.4);"]:hover,
.folder__17546:hover {
  background-color: var(--folder-color-light);
}

.folder__17546 > .folderIconWrapper__72239 > .expandedFolderIconWrapper__458cf > svg[style="color: rgb(88, 101, 242);"] {
  color: var(--accent-color) !important;
}

.numberBadge__40d6f {
  background-color: var(--accent-color) !important;
}
.item_f9d377 {
  background-color: var(--interactive-normal);
}

/* Add Server Button */
.circleIconButton_d8df29 {
  color: var(--interactive-normal) !important;
  background-color: transparent !important;
}
.circleIconButton_d8df29:hover {
  color: var(--interactive-hover) !important;
  background-color: var(--background-primary) !important;
}

/* Channel List */
.children__32014:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--background-tertiary)) !important;
}
.container__11d72.themed_b152d4 {
  background-color: var(--background-tertiary);
}
.container__590e2 {
  background-color: var(--background-tertiary) !important;
}
.sidebar_ded4b5 {
  background: var(--background-tertiary) !important;
}
.unread__48cf4 {
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  z-index: 1;
  border-radius: 10px;
	margin-top: 0px;
  transform: translateY(-50%)
}
.wrapper__612a5:hover .icon__67ab4,
.modeSelected__473f1 .icon__67ab4,
.modeUnreadImportant__35358 .icon__67ab4 {
  color: var(--interactive-active);
}
.wrapper__612a5:not(.modeUnreadImportant__35358):not(:hover):not(.modeSelected__473f1) .icon__67ab4 {
  color: var(--channels-default);
}
.spine__88e6d {
  color: var(--channels-default);
}
.total_c01838 {
  background-color: var(--background-secondary-alt);
}
.total_c01838:after {
  border-right-color: var(--background-secondary-alt);
}
.subtitle_bba2b7 {
  color: var(--brand-experiment) !important;
}

/* New Mention bar*/
.mention__1afd3 {
  background-color: var(--text-danger);
  opacity: 1;
}

/* ~~~~		  		Settings Modal							~~~~ */

.theme-light .closeButton__34341 {
  border-color: var(--background-secondary-alt);
}
.theme-light .closeButton__34341:hover {
  background-color: var(--background-secondary);
}
.theme-light .keybind__57645 {
  color: var(--background-secondary-alt);
}
.theme-light .gameName-Uw4dbt {
  color: #4f545c !important;
}
.theme-light .lastPlayed-3aHvxk {
  color: #72767d !important;
}
.accountProfileCard__22589 {
  background-color: var(--background-secondary-alt);
}
.notDetected__2a0c9 {
  background-color: var(--background-tertiary) !important;
}
.addGamePopout_e4ca8f {
  background-color: var(--background-secondary) !important;
  box-shadow: none !important;
}
.game__19f4b {
  box-shadow: 0 1px 0 0 var(--background-tertiary) !important;
}
.cardPrimary-3qRT__ {
  background: var(--background-secondary);
}
.gemIndicatorContainer_b03ca0 {
  background-color: var(--background-primary) !important;
}
.cardWrapper-CyvwQv {
  background: var(--background-secondary);
}
.card-2gdrYL:hover {
  background: var(--background-floating);
}
.gameVerifiedIcon_bcd5fc .flowerStar_a9981e > path {
  fill: var(--brand-experiment);
}
.markValue-2U_-UG {
  color: var(--interactive-muted);
}

/* Buttons Color */
.bar-1Bhnl9 {
  background: var(--background-secondary) !important;
}
.userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background-color: var(--background-floating) !important;
  border-color: var(--background-secondary-alt) !important;
}
.premiumTab__57bdc[aria-selected="true"] {
  color: #fff !important;
  background-color: #b466c2 !important;
}
.button__66e8c.buttonColor_a6eb73.buttonActive__407a7,
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7 {
  color: #fff !important;
}
.buttons-19uowm .lookFilled-1GseHa.colorPrimary-2AuQVo,
.colorable_c84c4c.primaryDark__6b700.active_ff29dc,
.colorable_c84c4c.primaryDark__6b700:hover {
  background: var(--background-secondary) !important;
}
.colorable_c84c4c.primaryDark__6b700 {
  background: var(--background-primary);
}
.dim-2Uxgxb span,
.keybindShortcut-3zF1P9 span {
  background-color: var(--background-floating) !important;
  box-shadow: inset 0 -4px 0 var(--background-secondary) !important;
}
.lookFilled-yCfaCM.colorYellow-Pgtmch {
  color: #fff !important;
  background-color: var(--text-warning) !important;
}
.lookFilled-yCfaCM.colorGreen-3y-Z79 {
  color: #fff !important;
  background-color: var(--text-positive) !important;
}
.lookFilled-yCfaCM.colorRed-rQXKgM {
  color: #fff !important;
  background-color: var(--text-danger) !important;
}

/* My Account Page */
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
  background-color: var(--brand-experiment);
}
.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
  background-color: var(--brand-experiment-560);
}
.lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--interactive-normal) !important;
}
.lookLink-15mFoz.colorPrimary-2AuQVo:hover {
  color: var(--interactive-hover) !important;
}

/* Dropdown */
.lookFilled-1GseHa.select-1Ia3hD {
  background-color: var(--background-secondary);
  border-color: var(--background-tertiary);
}
.select-1Ia3hD {
  color: var(--interactive-active);
}

/* Registered Game Page */
.gameName_aeeab5 {
	color: var(--header-primary) !important;
}
.lastPlayed_accc56,
.nowPlayingAdd__7caf1,
.overlayStatusText__61367 {
	color: var(--header-secondary) !important;
}
.overlayToggleIconOff-ps4gGp .fill__80e66 ~ rect {
	fill: var(--status-danger) !important;
}
.overlayToggleIconOn-21NN2N .fill__80e66 {
  fill: var(--status-positive) !important;
}

/* Server Settings */
.default__3e2f5,
.headerExpanded__03c29,
.divider-1pnAR2 {
  background-color: var(--background-tertiary) !important;
}
.container__7712a {
  background-color: var(--background-secondary);
}
.auditLog__6c805 {
  border-color: var(--background-tertiary) !important;
}
.card-o7rAq- {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-secondary-alt) !important;
}
.cardPrimaryOutline-1ofwVz {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary-alt);
}
.changeDetails_ecd760 {
  background-color: var(--background-secondary) !important;
}
.headerDefault__3e003,
.headerClickable_c4d7a9 {
  background-color: var(--background-secondary) !important;
}
.elevationHigh__312fd {
  background-color: var(--background-floating) !important;
}
.css-gvi9bl-control,
.css-6fzn47-control,
.css-3vaxre-menu {
  background-color: var(--background-secondary);
  border-color: var(--background-secondary-alt);
}
.background__3dd67 {
  color: var(--background-secondary) !important;
}
.tierInProgress_f08e8b {
  background-color: var(--background-secondary) !important;
}
.tierBody__615a1 {
  background-color: var(--background-secondary) !important;
}
.tierHeaderContent__27033 {
  background: var(--background-tertiary);
}
.cardPrimaryEditable-2mz_3i {
  background: var(--background-secondary);
}
.editCircle-ityklj,
.iconWrapper-lS1uig {
  background-color: var(--background-primary);
}
.theme-light .card_dc88cd:before {
  background-color: var(--background-primary);
}

/* Server Boost Modal */
.perksModal-CLcR1c {
  background-color: var(--background-primary) !important;
}
.tierMarkerBackground-G8FoN4,
.expandedInfo__47bad,
.tierBody-3ju-rc,
.perk-19D_HN {
  background-color: var(--background-tertiary) !important;
}
.roleIcon-286ZWG {
  color: var(--background-accent);
}

/* Reaction Modal */
.reactors__20ab0 {
  background-color: var(--background-primary) !important;
}
.reactorDefault__5b249 {
  box-shadow: inset 0 -1px 0 var(--background-modifier-accent) !important;
}
.scroller__5fda0 {
  background: var(--background-secondary) !important;
}
.reactionSelected__249a7 {
  background-color: var(--background-modifier-selected) !important;
}

/* Pin Message Modal */
.message__04d9f {
  background-color: var(--background-secondary) !important;
  box-shadow: none !important;
  border-radius: 10px;
}

/* Connections Modal */
.focusLock-2tveLW[aria-label="Add Connection"] .root_a28985 {
  background-color: var(--background-secondary-alt) !important;
  box-shadow: none !important;
}
.connectionsContainer-crWFPm .accountBtnInner-1DCgBm {
  background-color: var(--background-primary);
}

/* Payment Modal */
.root_a28985 {
  background-color: var(--background-primary) !important;
  box-shadow: none;
}
.modalHeader-gQTY3L,
.root-2s1-ri > * {
  background-color: transparent !important;
}
.paymentPane__9cf01 {
  background-color: var(--background-secondary-alt) !important;
}
.bottomDivider_a59d97 {
  border-bottom-color: var(--background-secondary-alt) !important;
}
.expandedInfo__47bad {
  background-color: var(--background-primary) !important;
}
.paginator_e620d3,
.payment__7d702,
.codeRedemptionRedirect_bc7f36 {
  background-color: var(--background-secondary) !important;
  border-color: var(--background-secondary-alt) !important;
}
.footerSeparator-VzAYwb {
  -webkit-box-shadow: inset 0 1px 0 var(--background-secondary-alt) !important;
  box-shadow: inset 0 1px 0 var(--background-secondary-alt) !important;
}
.footer-31IekZ,
.footer_ceda43 {
  background-color: var(--background-tertiary) !important;
}

/* ~~~~		  		Watermark							~~~~ */

.wordmarkWindows__05c46 svg {
  position: fixed;
  top: 3px;
  left: 50%;
  transform: translate(-50%);
}
.typeWindows__5fa63 {
  z-index: 1;
  background-color: var(--background-secondary-alt);
}

/* ~~~~		  		     BD Support							~~~~ */
#bd-editor-controls {
  background: var(--background-secondary-alt);
  color: var(--interactive-normal);
}
#floating-editor-window {
  border-radius: 10px;
}
.floating-window-titlebar {
  background-color: var(--background-secondary-alt);
}
.floating-window #bd-editor-controls {
  background-color: var(--background-tertiary) !important;
  border-bottom: 1px solid var(--background-tertiary);
  box-shadow: none;
}
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input,
.monaco-editor .margin {
  background-color: var(--background-secondary) !important;
}
.monaco-editor .minimap,
.monaco-editor .decorationsOverviewRuler {
  display: none !important;
}
.bd-tab-item.selected {
  cursor: default;
  background: var(--background-accent);
}
.bd-addon-error {
  border-color: var(--background-tertiary) !important;
  background: var(--background-secondary) !important;
}
.bd-addon-error-icon {
  display: flex;
  align-items: center;
  background-color: var(--background-primary);
}
.bd-addon-modal-footer .bd-button {
  background-color: var(--brand-experiment);
}
.bd-addon-modal-footer .bd-button:hover {
  background-color: var(--brand-experiment-560) !important;
}

/* ~~~~		  		     Powercord Support							~~~~ */
.powercord-toast-container {
  --toast-background: var(--background-secondary);
  --toast-header: var(--background-tertiary);
  --toast-contents: var(--background-primary);
  --toast-box-shadow: var(--elevation-stroke), var(--elevation-high);
  --toast-border: transparent;
}

.modal__060da {
	background-color: var(--background-primary) !important;
}
.powercord-product-footer .lookLink-15mFoz.colorTransparent-13Bvvi {
  color: var(--text-link) !important;
}

/* ~~~~		  		 Plugin Support							~~~~ */

/* Better Codeblocks */
#app-mount .hljs {
  background-color: var(--background-secondary) !important;
  border: 1px solid var(--background-tertiary);
  color: var(--text-normal);
}
.powercord-codeblock-lang {
  font-size: 1em !important;
  font-family: 'JetBrainsMono Nerd Font', 'Raleway', var(--font-code), monospace !important;
}

/* Channel Tabs */
.channelTabs-tab.channelTabs-selected {
  margin-top: 5px;
}
[class*="channelTabs-"] .channelTabs-closeTab {
  color: var(--text-normal) !important;
  background-color: transparent !important;
}
[class*="channelTabs-"] .channelTabs-closeTab:hover {
  color: var(--text-danger) !important;
}
.channelTabs-tabContainer {
  background-color: var(--background-secondary-alt);
}
.channelTabs-newTab {
  bottom: calc(var(--channelTabs-tabHeight) / 2) !important;
}
#channelTabs-settingsMenu {
  background: transparent !important;
}

/* Better Formatting Redux */
.bf-toolbar::before {
  background: var(--background-secondary) !important;
}
.tooltipBlack-vMYxvw {
  background-color: var(--background-floating) !important;
}
.tooltipPointer-3L49xb {
  border-top-color: var(--background-floating) !important;
}

/* Powercord Spotify Modal. */
.fa-forward, .fa-backward{
  transition-duration: 0.3s;
}
button:hover .fa-forward:hover{
  transform: translate(2px);
}
button:hover .fa-backward:hover{
  transform: translate(-2px);
}

/* ----------------------------- END OF THEME ----------------------------- */

/* ~~~~		  		CSS Snippets							~~~~ */

/* Better name colors in chat & list light mode */
.theme-light .username_d30d99.desaturateUserColors-1O-G89.clickable_d866f1,
.theme-light .roleColor-nA7BqX.desaturateUserColors-1O-G89 {
  filter: contrast(50%);
  transition: filter 0.25s;
}
.theme-light .username_d30d99.desaturateUserColors-1O-G89.clickable_d866f1:hover,
.theme-light .roleColor-nA7BqX.desaturateUserColors-1O-G89:hover {
  filter: contrast(100%);
}

/* Hide unused things */
.banner__6d414:hover .premiumIconWrapper__83620 .textBadge__45d79,
.banner__6d414:hover .bannerOverlay-1uIerX,
.banner__6d414:hover .pencilIcon__21c0c,
button[aria-label="Send a gift"],
[href="/discovery"],
.toolbar__88c63 a,
.gifTag__045e5 {
  display: none;
}

/* Consistent Account and Server Join Date */
.discordMemberCreatedAtIconContainer__6dcd7 {
  padding: 0px;
  background-color: var(--background-tertiary);
}
.discordMemberCreatedAtIcon__9b97c {
  width: 24px;
  height: 24px;
}
.discordMemberCreatedAtText__3e088 > div {
  display: none;
}
.discordMemberCreatedAt__32482 > .discordMemberCreatedAtText__3e088 > h3 {
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
  user-select: text;
}

/* Replaces Message Links with "Jump to Message" */
[title^="https://discord.com/channels/"],
[title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
    line-height:0;
    font-size:0;
}
[title^="https://discord.com/channels/"]::before,
[title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
  content: "Jump to Message";
  font-size: 16px;
  font-weight: 500;
}
